apiVersion: v1
kind: Config
clusters:
- name: ${name}
  cluster:
    certificate-authority-data: ${ca}
    server: ${server}
contexts:
- name: ${name}
  context:
    cluster: ${name}
    user: ${name}
current-context: ${name}
preferences: {}
users:
- name: ${name}
  user:
    token: ${token}
